.all-users-chats-container{
  padding-right: 15px;
  border-right: 2px solid black;
}

.additional-info-for-user-active-chat{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 286px;
  background-color: #52514e;
  color: white;
  font-weight: 500;
  min-height: 58px;
  align-items: center;
}

.additional-info-for-user{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 10px;
  width: 280px;
  align-items: center;
}

.additional-info-for-user:hover{
  cursor: pointer;
}

.user-list-container {
  overflow: auto;
  overflow-x: hidden;
  height: 80vh;
  margin-left: 20px;
}

.current-user-item-link{
  align-items: center;
}

.chat-user-avatar{
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.user-username-isonline{
  display: flex;
  flex-direction: column;
}

.circle-and-info-about-online{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-online-circle {
  background-color: #34ce57;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.user-offline-circle {
  background-color: #e4606d;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.list-group-item {
  padding: 0.4rem 1.25rem;
  font-size: 10pt;
}
.list-group-item-action:focus,
.list-group-item-action:hover,
.active-chat {
  background-color: #fff3cd;
}

.add-chats-for-sidebar{
  display: flex;
  height: 45px;
  width: 280px;
  border-radius: 10px;
  background-color: #3D3C3A;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 10px;
}

.search-box-for-users{
  height: 35px;
  border-radius: 10px;
  float: left;
  min-width: 300px;
  margin-bottom: 5px;
}

.search-box-for-users:focus{
  scale: 1.02;
  transition: 0.5s;
}

.text-muted {
  opacity: 0.4;
  background-color: white;
}