<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.js"></script>

</head>
<body>

    {% verbatim %}
    <a href="{% url "social:begin" "github" %}">GitHub+</a>
    <div class="container" id="movies">
        <div class="btn btn-success btn-lg" v-for="movie in movies_list">
            Movie-name: {{ movie.name }}
            <br>
            Movie-rating: {{ movie.rating }}

        </div>

    </div>
    {% endverbatim %}

<script src="/static/app.js"></script>
</body>
</html>
