.album-choices{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.album-current-choice{
    background-color: gray;
    height: 100px;
    width: 620px;
    margin-left: 10px;
    padding-left: 10px;
    color: white;
    display: flex;
    align-items: center;
}

.album-current-choice:hover{
    cursor: pointer;
}